.post h1 {
	@apply leading-normal font-black mt-8 mb-5 text-5xl;
}

.post h2 {
	@apply leading-normal font-bold mt-6 mb-4 text-4xl;
}

.post h3 {
	@apply leading-normal font-bold mt-6 mb-3 text-3xl;
}

.post h4 {
	@apply leading-normal font-bold my-4 text-2xl;
}

.post h5 {
	@apply leading-normal font-bold my-3 text-xl;
}

.post h6 {
	@apply leading-normal font-bold my-2 text-lg;
}

.post ul,
.post ol {
	@apply pl-6 mb-2;
}

.post ul > li {
	@apply list-disc;
}

.post ol > li {
	@apply list-decimal;
}

.post hr {
	height: 3px;
	@apply mb-2 bg-gray-300;
}

.post p {
	@apply mb-2;
}

.post blockquote {
	border: none;
	border-left: 5px solid rgb(114, 30, 131);
	@apply bg-gray-200 my-2 p-2 text-gray-600;
}

.post blockquote > p:not([class*="language-"]) {
	@apply mb-0;
}

.post strong:not([class*="language-"]) {
	@apply font-bold text-gray-900;
}

/** code one line */
.post code:not([class*="language-"]) {
	transition: background 0.2s ease;
	padding: 2px 4px;
	@apply bg-gray-300 text-red-800 rounded-lg;
}

.post code:not([class*="language-"]):hover {
	@apply bg-gray-200 text-red-700;
}

/** fenced code blocks */
.post pre > code:not([class*="language-"]) {
	background: inherit;
	@apply text-gray-100;
}

.post pre > code:not([class*="language-"]):hover {
	background: inherit;
	@apply text-gray-100;
}

.post a {
	transition: background 0.2s ease-out;
	@apply text-gray-700 font-bold;
}

.post a:hover {
	@apply underline text-gray-900 break-words;
}
